<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shops</title>
  </head>
  <body>
    {{!-- {{#if minRating}}
    <h1>Shops</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Rating</th>
      </tr>
      {{#each filteredShops}}
      <tr>  
          <td><a href="/shop-details/{{this.id}}">{{this.name}}</a></td>
          <td>{{this.rating}}</td>
      </tr>
      {{/each}}
      </table>
    {{else}} --}}
    <h1>Shops</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Rating</th>
      </tr>
      {{#each filteredShops}}
        <tr>
          <td><a href="/shop-details/{{this.id}}">{{this.name}}</a></td>
          <td>{{this.rating}}</td>
        </tr>
      {{/each}}
    </table>
    <br />

    <a href="/home">Back to homepage</a>

  </body>
</html>